{% extends "questions/base.html" %}

{% block content %}
    <div><a href="{% url "questions_list"%}">All questions</a></div><br>
    <div>Name: {{ question.name }}</div><br>
    <div>Made by: <a href="{% url "profile" id=question.author.id%}">{{ name }}{{ question.author.first_name }} {{ question.author.last_name }}</a></div><br>
    <div>Text: {{ question.text }}</div><br>
    <div>Tags:
    {% for tag in question.tags.all %}
        <a href="{% url "tag_detail" id=tag.id%}">{{ tag }}</a>
    {% endfor %}
    </div>
{% endblock %}