{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-auto">
            <form method="get" action="">
                {% csrf_token %}
                {{ form|crispy }}
            <button type="submit" class="btn btn-dark">Go</button>
            </form>
        </div>
    </div><br>
    <div class="row">
    {% for user in users %}
        <div class="col-auto">
            <a class="btn bg-dark text-light" href="{% url "profile" id=user.id %}">{{ user.first_name }} {{ user.last_name }} </a>
        </div>
    {% endfor %}
    </div><br>
{% endblock %}



