{% extends "tags/base.html" %}

{% block content %}
    <div>
        <a class="btn btn-dark" href="{% url "tags_list"%}">All tags</a><br><br>
    </div>
    <div class="row">
    {% for question in tag.questions.all %}
    <div class="col-sm-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header ">{{ question.name }}</div>
            <div class="card-body">
            <h5 class="card-title">Author: {{ question.author.first_name }} {{ question.author.last_name }}</h5>
            <p class="card-text"><a href="{% url "question_detail" id=question.id%}" class="btn btn-light">Read</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
    </div><br>
{% endblock %}
